<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>A-DISPATCH</display-name>

    <servlet>
    	<servlet-name>Main</servlet-name>
    	<servlet-class>com.amro.controller.Main</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ShipperSignUp</servlet-name>
    	<servlet-class>com.amro.controller.ShipperSignUp</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ForgetPassword</servlet-name>
    	<servlet-class>com.amro.controller.ForgetPassword</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ChangePassword</servlet-name>
    	<servlet-class>com.amro.controller.ChangePassword</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>CarrierSignUp</servlet-name>
    	<servlet-class>com.amro.controller.CarrierSignUp</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>Upload</servlet-name>
    	<servlet-class>com.amro.controller.Upload</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>Logout</servlet-name>
    	<servlet-class>com.amro.controller.Logout</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ForwardToShipperControlPage</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToShipperControlPage</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ShipperVehicles</servlet-name>
    	<servlet-class>com.amro.controller.ShipperVehicles</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ForwardToPostVehicle</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToPostVehicle</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>ErrorHandler</servlet-name>
    	<servlet-class>com.amro.controller.ErrorHandler</servlet-class>
    </servlet>
    <servlet>
    	<servlet-name>HandlePostVehicle</servlet-name>
    	<servlet-class>com.amro.controller.HandlePostVehicle</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ForwardToNotAssignedVehicles</display-name>
    	<servlet-name>ForwardToNotAssignedVehicles</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToNotAssignedVehicles</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>HandleAssignToCarrier</display-name>
    	<servlet-name>HandleAssignToCarrier</servlet-name>
    	<servlet-class>com.amro.controller.HandleAssignToCarrier</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ForwardToAssignedVehicles</display-name>
    	<servlet-name>ForwardToAssignedVehicles</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToAssignedVehicles</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ForwardToShipperAcceptedVehicles</display-name>
    	<servlet-name>ForwardToShipperAcceptedVehicles</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToShipperAcceptedVehicles</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ForwardToShipperPickedupVehicles</display-name>
    	<servlet-name>ForwardToShipperPickedupVehicles</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToShipperPickedupVehicles</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ForwardToShipperDeliveredVehicles</display-name>
    	<servlet-name>ForwardToShipperDeliveredVehicles</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToShipperDeliveredVehicles</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ForwardToShipperCanceledVehicles</display-name>
    	<servlet-name>ForwardToShipperCanceledVehicles</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToShipperCanceledVehicles</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ForwardToSearchPage</display-name>
    	<servlet-name>ForwardToSearchPage</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToSearchPage</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ForwardToCarrierMyVehicleHeader</display-name>
    	<servlet-name>ForwardToCarrierMyVehicleHeader</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToCarrierMyVehicleHeader</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ForwardToCarrierAssignedVehicles</display-name>
    	<servlet-name>ForwardToCarrierAssignedVehicles</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToCarrierAssignedVehicles</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>HandleAcceptLoad</display-name>
    	<servlet-name>HandleAcceptLoad</servlet-name>
    	<servlet-class>com.amro.controller.HandleAcceptLoad</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ForwardToCarrierAcceptedVehicles</display-name>
    	<servlet-name>ForwardToCarrierAcceptedVehicles</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToCarrierAcceptedVehicles</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>HandlePickedupLoad</display-name>
    	<servlet-name>HandlePickedupLoad</servlet-name>
    	<servlet-class>com.amro.controller.HandlePickedupLoad</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ForwardToCarrierPickUpVehicles</display-name>
    	<servlet-name>ForwardToCarrierPickUpVehicles</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToCarrierPickUpVehicles</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>HandleCarrierPickupVehicles</display-name>
    	<servlet-name>HandleCarrierPickupVehicles</servlet-name>
    	<servlet-class>com.amro.controller.HandleCarrierPickupVehicles</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ForwardToCarrierDeliveredVehicle</display-name>
    	<servlet-name>ForwardToCarrierDeliveredVehicle</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToCarrierDeliveredVehicle</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>ForwardToCarrierControlPanel</display-name>
    	<servlet-name>ForwardToCarrierControlPanel</servlet-name>
    	<servlet-class>com.amro.controller.ForwardToCarrierControlPanel</servlet-class>
    </servlet>
    
    <servlet-mapping>
    	<servlet-name>Main</servlet-name>
    	<url-pattern>/Main</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ShipperSignUp</servlet-name>
    	<url-pattern>/ShipperSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForgetPassword</servlet-name>
    	<url-pattern>/ForgetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ChangePassword</servlet-name>
    	<url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>CarrierSignUp</servlet-name>
    	<url-pattern>/CarrierSignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Upload</servlet-name>
    	<url-pattern>/Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Logout</servlet-name>
    	<url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToShipperControlPage</servlet-name>
    	<url-pattern>/ShipperControlPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ShipperVehicles</servlet-name>
    	<url-pattern>/ShipperVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToPostVehicle</servlet-name>
    	<url-pattern>/ForwardToPostVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ErrorHandler</servlet-name>
    	<url-pattern>/ErrorHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>HandlePostVehicle</servlet-name>
    	<url-pattern>/HandlePostVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToNotAssignedVehicles</servlet-name>
    	<url-pattern>/ForwardToNotAssignedVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>HandleAssignToCarrier</servlet-name>
    	<url-pattern>/AssignToCarrier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToAssignedVehicles</servlet-name>
    	<url-pattern>/ForwardToAssignedVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToShipperAcceptedVehicles</servlet-name>
    	<url-pattern>/ShipperAcceptedVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToShipperPickedupVehicles</servlet-name>
    	<url-pattern>/ShipperPickedupVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToShipperDeliveredVehicles</servlet-name>
    	<url-pattern>/ShipperDeliveredVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToShipperCanceledVehicles</servlet-name>
    	<url-pattern>/ShipperCanceledVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToSearchPage</servlet-name>
    	<url-pattern>/SearchPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToCarrierMyVehicleHeader</servlet-name>
    	<url-pattern>/MyVehicleHeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToCarrierAssignedVehicles</servlet-name>
    	<url-pattern>/CarrierAssignedVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>HandleAcceptLoad</servlet-name>
    	<url-pattern>/AcceptLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToCarrierAcceptedVehicles</servlet-name>
    	<url-pattern>/CarrierAcceptedVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>HandlePickedupLoad</servlet-name>
    	<url-pattern>/HandlePickedupLoad</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToCarrierPickUpVehicles</servlet-name>
    	<url-pattern>/CarrierPickUpVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>HandleCarrierPickupVehicles</servlet-name>
    	<url-pattern>/HandleCarrierPickupVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToCarrierDeliveredVehicle</servlet-name>
    	<url-pattern>/CarrierDeliveredVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ForwardToCarrierControlPanel</servlet-name>
    	<url-pattern>/CarrierControlPanel</url-pattern>
    </servlet-mapping>


	<session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config> 
   	    <welcome-file-list>
        <welcome-file>html/index.jsp</welcome-file>
        </welcome-file-list>
		<listener>
        <listener-class>com.amro.controller.HandleContextListener</listener-class>
        </listener> 
        <error-page>
	 	  <exception-type>java.lang.Throwable</exception-type>
		  <location>/ErrorHandler</location>
		</error-page>
    </web-app>
